body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    a {
        text-decorataion: none;
        color: black;
        font-family: 'Montserrat', sans-serif;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
}

// Header Component
.headerSlider {
    .slick-list, .slick-track {
        height: 100%;
        width: 100%;
        .slideContainer {
            padding: 15rem 0;
            position: relative;
            color: #fff;
            .headerContent {
                z-index: 3;
                position: relative;
            }
        }
    }
}
// Landing Page
.home-container {
    background-image: url('../img/crowd.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .team-logo {
        padding: 1rem;
        z-index: 3;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            position: relative;
            width: 100%
        }
    }
    .home-nav {
        z-index: 3;
        padding-right: 2rem;
        width: 100%;
        position: relative;
        ul {
            margin-bottom: 2rem;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            li a {
                padding: .85rem 1rem;
                margin: 0 1rem 1rem;
                background-color: #333;
                color: #fff;
                font-size: 1.5rem;
                border-radius: 100%;
            }
            li a:hover {
                box-shadow: 0 0 20px #eee;
                transition: .5s;
            }
        }
    }
}

.teams {
    .teams-container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        .single-team {
            padding: 1rem;
            width: 25%;
            .single-team-inner {
                padding: 1.5rem 0 0;
                height: 100%;
                background-color: #eee;
                text-align: center;
                display: flex;
                justify-content: stretch;
                align-content: center;
                flex-direction: column;
                img {
                    margin: 0 auto 3rem;
                    width: 75%;
                }
                h2 {
                    padding: 0 1rem;
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p {
                    padding: 0 1rem;
                    font-weight: 300;
                }
                .view-team {
                    padding: .5rem;
                    margin-top: auto;
                    width: 100%;
                    display: block;
                    letter-spacing: .1rem;
                    text-decoration: none;
                    border-top: 1px solid lightgray;
                    border-bottom: 1px solid transparent;
                    i {
                        padding-left: 1rem;
                    }
                }
                .view-team:hover {
                    color: black;
                    border-bottom: 1px solid #ff8900;
                    transition: .25s;
                    i {
                        padding-left: 2rem;
                        transition: .25s;
                    }
                }
            }
        }
    }
}